.App {
  display: flex;
  height: 100vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  height: calc(100vh - 40px);
  width: 140px;
  padding: 20px;
  color: white;
}
.App-feed {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: auto;
}
.App-title {
  font-size: 1.5em;
}

.App-reader {
  width: 100%;
  height: 100%;
}
