.App-reader {
  font-family: 'Garamond', 'Georgia', 'serif';
  line-height: 28px;
}

.App-reader h1 {
  line-height: 1.2em;
}

.App-reader img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.App-reader p > img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-reader video {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.App-reader iframe {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.App-reader a {
  text-decoration: underline;
}
.App-reader h1 a {
  text-decoration: none;
}

.App-reader code {
  width: 100%;
}
